/* Links */
a {
  text-decoration: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /** @todo Why is `!important` needed here? Check it out */
  font-weight: 700 !important;
}

/* Reset */
body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

/* Page Transition Animation */
#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.page-is-transitioning #page-content {
  opacity: 0;
}
